
nav {
    background-color: blueviolet;
    color: white;
}

nav a {
    color: white !important;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

nav a:hover,
nav a:focus,
nav a.active {
    background-color: #5ba600;
    color: white !important;
    border-radius: 8px;
}

main {
    height: calc(100vh - 88px);
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/criptosistemas_clave_publica.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#main-content a {
    text-decoration: none;
}

#main-content .card {
    background-color: rgb(91 166 0 );
    color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}

#main-content .card:hover,
#main-content .card:focus,
#main-content .card.active {
    background-color: blueviolet;
    color: white !important;
    border-radius: 8px;
}

.card img {
    border-radius: 50%;
}

.line {
    background: #fff;
    height: 8px;
    width: 8px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
}
.line:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: -55px;
    top: 3px;
    background: #fff;
}
.line:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    right: -55px;
    top: 3px;
    background: #fff;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 55px!important;
    }
}